.skills {
	margin-top: 120px;

	&__subtitle {
		text-align: center;
	}

	&__title {
		margin-top: 6px;
		text-align: center;
	}

	&__line {
		margin: 0 auto;
		margin-top: 25px;
	}

	&__features {
		margin-top: 60px;
		display: grid;
		justify-content: center;
		gap: 13px;
		grid-template-columns: repeat(4, 270px);
		grid-template-rows: repeat(2, 270px);
		grid-auto-rows: (1fr);
	}
}

.feature {
	width: 270px;
	height: 270px;
	border: 1px solid #000;
	padding-left: 30px;
	padding-right: 30px;

	&__logo {
		padding-top: 30px;
	}

	&__name {
		padding-top: 20px;
	}

	&__description {
		padding-top: 12px;
	}
}