.about {
	padding-top: 120px;

	&-wrapper {
		width: 100%;
		display: grid;
		justify-content: center;
		justify-items: center;
		grid-template-columns: (400px 640px);
		grid-template-rows: repeat(250px, 350px);
		grid-auto-rows: repeat(2, 300px);
		column-gap: 68px;
		grid-template-areas:
			"photo text"
			"photo text";
	}

	&__photo {
		grid-area: photo;
		width: 100%;

		& img {
			max-width: 400px;
			max-height: 600px;
			object-fit: cover;
		}
	}

	&__text {
		grid-area: text;
		width: 570px;
	}


	&__skills {
		grid-area: skills;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__subtitle {
		padding-left: 12px;

		&::before {
			@include circle-left;
		}
	}

	&__title {
		margin-top: 6px;
	}

	&__line {
		margin-top: 4px;
	}

	&__description {
		margin-top: 20px;
	}

	&__skills {
		margin-top: 40px;
	}

	&__element {
		display: flex;
		flex-direction: row;
		width: 260px;
		position: relative;
		margin-bottom: 20px;

		.skills {


			&__icon {
				padding-top: 20px;
				padding-left: 20px;

				&::before {
					@include circle-left-up;

				}
			}

			&__text {
				padding-left: 20px;
			}

			&__title {
				text-align-last: left;
			}

			&__description {}
		}
	}
}